.App {
  max-width: 720px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.shirt-image {
  right: -250px;
  top: 0;
}

.overlay {
  background-color: rgba(226, 226, 226, 0.75);
  height: 100%;
  width: 100%;
  position: relative;
}
.nav {
  margin-top: 3rem;
}
.nav__item {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #000000;
  margin-bottom: 1rem;
}
